{{ define "main" }}
<!-- LINK TO HOMEPAGE CSS -->
<link rel="stylesheet" href="/css/home.css" />

{{ partial "navigation" }}

<div class="hero-banner">
  <div class="hero-banner-inner">
    <div class="logo">
      <img src="/brand.png" alt="" />
    </div>
    <div class="content">
      <h1>The Simple, Lightweight JavaScript Framework</h1>
      <p>
        Build modern SPAs fast with power.js
        <br />
        <br />
        <a href="/intro" class="get-started">Get Started</a>
      </p>
    </div>
  </div>
</div>

{{ end }}
